.chat-container {
    border: 1px solid gray;
    height: 400px;
    width: 300px;
    background-color: white;
    position: fixed;
    right: 20px;
    bottom: 60px;
    border-radius: 7px;
    border: 1px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chat-popup {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.chat-title {
    padding: 1em;
    font-weight: bold;
    border-bottom: 1px solid #d8d1d1;
}

.chat-textbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ededed;
    padding: 1em;
}

.chat-input {
    width: 75%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.8em;
    border: 1px solid white;
    border-radius: 7px;
}

.chat-toggle {
    right: 20px;
    position: fixed;
    margin-top: 10px;
    bottom: 15px;
}

.chat-content {
    padding: 1em;
    overflow-y: auto;
}
