.search-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 1em;
}

.search-input {
    width: 100%;
    height: 2em;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-indent: 2em;
    background-image: url('../../public/images/search_icon.png');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: left;
}

.search-btn {
    border-top-right-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 7px;
    border: 1px solid #f73622;
    padding: 0.5em;
    background-color: #f73622;
    color: white;
    width: 80px;
}

::placeholder {
    color: #9fa6b2;
}