.search-container {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 1em;
}

.search-input {
    width: 100%;
    height: 2em;
    border: 1px solid white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-indent: 1em;
}

.search-btn {
    border-top-right-radius: 7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 7px;
    border: 1px solid #f73622;
    padding: 0.5em;
    background-color: #f73622;
    color: white;
}

::-ms-input-placeholder {
    padding-left: 1em;
}

::placeholder {
    /* padding-left: 1em; */
    color: #9fa6b2;
}