.select-box {
    padding: 0.4em 0.2em;
    margin-right: 4em; 
    text-align: center;
    border: 0px;
    width: 150px;
    height: 2.2em;
    font-weight: 700;
    font-size: 14px;
    background-color: white;
    border-radius: 7px;
}