.view-container {
    padding: 1em;
    margin: 1em 6em 1em 6em;
    border-radius: 20px;
    background-color: white;
}

.view-listitem {
    list-style-type: none;
}

hr   {
    margin-left: -3.5em;
    width: 90%;
}

.view-title {
    padding-bottom: 0.5em;
}
