.view-container {
    padding: 1em;
    border-radius: 20px;
    margin-top: 1em;
    background-color: white;
}

.view-listitem {
    list-style-type: none;
    display: flex;
}

.view-listitem img {
    padding-right: 0.5em;
}

hr   {
    margin-left: -3.5em;
    width: 90%;
}

.view-title {
    padding-bottom: 0.5em;
}
