.parent {
	width: 100%;
}

.app-body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	background-color: #f7f5f4;
	height: 100vh;
}

.app-content {
	width: 100%;
	overflow-y: scroll;
}

.app-product-compare {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.app-product-label {
	font-size: 1.3em;
	margin: 1.1em 0em;
}

.app-view {
    margin: 1em 8em 1em 8em;
	overflow-y: scroll;
}

.app-error-msg {
	margin: 1em 0em;
	color: red;
	font-weight: bold;
}

@media only screen and (max-width: 800px) {
	.app-view {
		margin: 1em 4em 1em 4em;
	}
}